
#viewport{
  touch-action:none;
  user-select: none;
  overflow: hidden;
}

html, body, main, .MainContainer, .world{
  width: 100vw;
  height: 100vh;

  z-Index: 0;
}

.MainContainer{
  width: max-content;
  height: max-content;
}

.title_start{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title_start p, .title_start img{
  font-weight: bold;
  font-size: 50px;
  font-family: sans-serif;
}
